{
    "extends": "airbnb",
    "rules": {
      "prefer-arrow-callback": 0,
      "no-console": 0,
      "prefer-template": 0,
      "indent": ["error", 4],
      "no-mixed-operators": 0,
      "global-require": 0
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    }
}
